<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-segurity">

    <head th:replace= "/fragments/head :: head"></head>

    <body>

        <div th:replace= "/fragments/nav_user :: div"></div>
        
        <div th:replace= "/fragments/error_exito :: div"></div> 

        <div class="container m-5">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id del Autor</th>
                        <th scope="col">Nombre del Autor</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>

                <tbody th:each="autor : ${autores}">
                    <tr>
                        <th scope="row" th:text="${autor.id}"></th>
                        <th scope="row" th:text="${autor.nombre}"></th>
                        <th>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/autor/modificar/__${autor.id}__}"><i class="fas fa-feather-alt"></i>Modificar</a>
                        </th>
                    </tr>
                </tbody>
            </table>

              


        </div>
    </body>
    
    <div th:replace= "/fragments/script :: div"></div>
    
</html>
