<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-segurity">
    
    <head th:replace= "/fragments/head :: head"></head>
    
    <body>
        
        <div th:replace= "/fragments/nav_user :: div"></div>
        
        <div th:replace= "/fragments/error_exito :: div"></div> 
        
        <div class="ml3">
            
            <h2>Cargar el Autor aqui!</h2>
            
        </div>
        <div class="container m-5 ">
            
            <form th:action="@{/autor/registro}" method="POST">
                
                <div class="form-group">
                    <input type="text" class="form-group" name="nombre" placeholder="Nombre del Autor">                   
                </div>
                
                <button type="submit" class="btn btn-primary">Subir</button>
                
            </form>
            
            
        </div>
        
             
    </body>
    
    <div th:replace= "/fragments/script :: div"></div>
    
</html>
