<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-segurity">
    
    <head th:replace= "/fragments/head :: head"></head>
    
    <body>
        
        
    <div th:replace= "/fragments/nav_user :: div"></div>
    
    <div th:replace= "/fragments/error_exito :: div"></div> 
         
    
    <div class="container">
    <form class="formulario" th:action="@{/editorial/modificar/__${editorial.id}__}" method="POST">
        
        <input hidden th:value="${id}" name="id">
        
        <div class="form-group my-3">
            <label class="mb-2">Cargar Editoriales</label>
            <input th:value="${editorial.nombre}" type="text" class="form-control" name="nombre" >                   
        </div>
                
        <button type="submit" class="btn btn-primary">Actualizar</button>
        
      
    </form>      
            
      
            
            
  </div>
        
        
    </body>
    
    <div th:replace= "/fragments/script :: div"></div>
    
    </html>
