<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-segurity">
    
    <head th:replace= "/fragments/head :: head"> </head>
    
   <body>
       
       
       <div th:replace= "/fragments/nav_user :: div"></div>
       
       <div th:replace= "/fragments/error_exito :: div"></div> 
       
       
        <div>
            
            <h2>Cargar el Libro aqui!</h2>
            
        </div>
       
        <div class="container-fluid m-5 contenedor">
       
            
            <form  class="formulario" th:action="@{/libro/registro}" method="POST">
                
                <div th:if="${error != null}" class="card text-white bg-danger -mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error!!!!</h5>
                        <p class="card-text" th:text="${error}" ></p>
                    </div>                   
                </div>
                <div th:if="${exito != null}" class="card text-white bg-danger -mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!!!!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>                   
                </div>                
                
                <div class="form-group my-3">
                    <label class="mb-2">Cargar Libro</label>
                    <input th:value=${isbn} type="number" class="form-control" name="isbn" placeholder="ISBN">                    
                </div>
                
                <div class="form-group my-3">
                    <input th:value=${titulo} type="text" class="form-control" name="titulo" placeholder="Titulo del Libro">                    
                </div>
                
                <div class="form-group my-3">
                    <input  th:value=${ejemplares} type="number" th:valueclass="form-control" name="ejemplares" placeholder="Cantidad de Ejemplares">                    
                </div>
                
               
                
                
                <div class="form-grupo my-3">
                    
                    <select name="idAutor">
                        
                        <option value=""> Seleccionar Autor </option>


                    <option th:each="autor : ${autores}"
                            th:value="${autor.id}"
                            th:text="${autor.nombre}" 
                            th:selected="${idAutor == autor.id}"
                            />
                            
                    th:selected="${idAutor == autor.nombre}"
                    
                    </select>
                </div>
                
                <div class="form-grupo my-3">
                    
                    <select name="idEditorial">
                        
                        <option value=""> Seleccionar Editorial </option>


                    <option th:each="editorial : ${editoriales}"
                            th:value="${editorial.id}"
                            th:text="${editorial.nombre}"
                            th:selected="${idEditorial == editorial.id}"/>
                    
                    </select>
                </div>
                
                
                 <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            
                   
            
        </div>
    </body>
        <div th:replace= "/fragments/script :: div"></div>
</html>


