<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-segurity">
    
    <head th:replace= "/fragments/head :: head"> </head>
    
    <body>

            
        
        <div th:replace= "/fragments/nav_user :: div"></div>
        
        <div th:replace= "/fragments/error_exito :: div"></div>

        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 col-xl-11">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">






                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrate!</p>

                                        <form class="formulario" th:action="@{/registro}" method="POST" enctype="multipart/form-data">

                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInputUsername" name="nombre" placeholder="NOMBRE" th:value="${nombre}" >
                                                <label for="floatingInputUsername">Nombre</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInputEmail" name="email" placeholder="EMAIL" th:value="${email}">
                                                <label for="floatingInputEmail">Email</label>
                                            </div>
                                            
                                            <div class="form-floating mb-3">
                                                <input type="file" class="form-control" id="floatingInputEmail" name="archivo">
                                                <label for="floatingInputEmail">Email</label>
                                            </div>
                                            <hr>

                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="CONTRASEÑA" th:value="${password}">
                                                <label for="floatingPassword">Contraseña</label>
                                            </div>

                                            <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPasswordConfirm" name="password2" placeholder="CONFIRMAR CONTRASEÑA" th:value="${password2}">
                                                <label for="floatingPasswordConfirm">Confirmar Contraseña</label>
                                            </div>

                                            <div class="d-grid mb-2">
                                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Registrarme</button>
                                            </div>

                                            <a class="d-block text-center mt-2 small" href="/../login">¿Ya tenes una cuenta? Logueate acá!</a>

                                            <hr class="my-4">



                                        </form>

                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                             class="img-fluid" alt="Sample image">


                                    </div>

                                              


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>

   <div th:replace= "/fragments/script :: div"></div>
   
</html>
